In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/accounts.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2 non-null      int64
 1    first_name  2 non-null      object
 2    last_name   2 non-null      object
 3    address_1   2 non-null      object
 4    address_2   1 non-null      object
 5    city        2 non-null      object
 6    state       2 non-null      object
 7    zip_code    2 non-null      int64
 8    join_date   2 non-null      object
dtypes: int64(2), object(7)
memory usage: 276.0+ bytes

In [16]:
df[" join_date"] = pd.to_datetime(df[" join_date"])

df.head()

,customer_id,first_name,last_name,address_1,address_2,city,state,zip_code,join_date
0,4321,john,doe,1532 East Main St.,PO BOX 5,Middleton,Ohio,50045,2022-01-16
1,5677,jane,doe,543 Oak Rd.,NaN,BigTown,Iowa,84432,2021-05-07

In [15]:
df.columns[-1]

' join_date'

In [17]:
product_df = pd.read_csv("data/products.csv")
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            2 non-null      int64
 1    product_code         2 non-null      int64
 2    product_description  2 non-null      object
dtypes: int64(2), object(1)
memory usage: 180.0+ bytes

In [19]:
transac_df = pd.read_csv("data/transactions.csv")

transac_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   transaction_id        2 non-null      object
 1    transaction_date     2 non-null      object
 2    product_id           2 non-null      int64
 3    product_code         2 non-null      int64
 4    product_description  2 non-null      object
 5    quantity             2 non-null      int64
 6    account_id           2 non-null      int64
dtypes: int64(4), object(3)
memory usage: 244.0+ bytes

In [20]:
transac_df.head()

,transaction_id,transaction_date,product_id,product_code,product_description,quantity,account_id
0,AS345-ASDF-31234-FDAAD-9345,2022/06/01,345,1,Widget Medium,5,4321
1,9234A-JFDA-87654-BFAEA-0932,2022/06/02,241,2,Widget Large,1,5677